.avatar-img {
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    border: 2px solid #A6328D;
    border-radius: 50%;
    padding: 6px;
    transition: all 0.5s ease;
}

.avatar-img:hover {
    border: 2px solid #FAFAFA;
}

.user-name{
    text-align: center;
}
