.preloader {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 40%;
    left: 40%;
    animation: circle 1s linear 1s infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
