.follow-btn {
    background: #586069;
    width: 115px;
    height: 35px;
    color: #ffff;
    padding: 8px;
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.follow-btn:hover {
    background: #31AE54;
}

.grey {
    background: #586069;
}

.green {
    background: #31AE54;
}

.pre-white {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    animation: circle 1s linear 1s infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
