/*comments*/

.comments-loading {
    margin-top: 10px;
}

.comments-wrapper.active {
    display: block;
}


.comments-content {
    display: flex;
    margin-top: 10px;
}

.comments-content_user {
    font-weight: 700;
}

.comments-content_text {
    margin-left: 8px;
}
