.avatar-img {
    width: 44px;
    height: 44px;
    margin-right: 14px;
}

.post-user-name {
    font-size: 18px;
    font-weight: 700;
}

.post-user {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
/*comments*/
.comments-btn {
    display: flex;
    align-items: center;
    margin-top: 18px;

}

.comments-btn_icon {
    margin-left: 5px;
    transform: rotate(0deg);
}

.comments-btn.active > .comments-btn_icon {
    transform: rotate(180deg);
}

/*comments*/

.comments-wrapper {
    display: none;
}

.comments-wrapper.active {
    display: block;
}


.comments-content {
    display: flex;
    margin-top: 10px;
}

.comments-content_user {
    font-weight: 700;
}

.comments-content_text {
    margin-left: 8px;
}
